/* Custom implementation using svgs from 
provided figma as to follow the no-framework rule*/

.icon {
	display: inline-block;
	width: 0.75em;
	height: 0.75em;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	margin-bottom: 0.21em; /* Align to center */
}

.icon--edit {
	background-image: url("edit.svg");
}

.icon--magnifier {
	background-image: url("magnifier.svg");
}

.icon--note-add {
	background-image: url("note-add.svg");
}

.icon--note {
	background-image: url("note.svg");
}

.icon--trash-can {
	background-image: url("trash-can.svg");
}

.icon--info {
	background-image: url("info.svg");
}
